body {
  text-align: center;
 
}
h1 {
  text-shadow: 2px 2px #F8BBD0;
  font-size: 20px;
}
.profile {
   width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;

 
}
#welcome{
   background: linear-gradient ( #e2d181 10% #a3ed34 100%)  
}
